* {
    padding: 0;
    margin: 0;
    
}

.student-list {
    
    background-color: #d61b9e;
    padding: 25px;
    border: 2px solid #b620f1;
    border-radius: 10px;

}

.country-list {
background-color: #574e86;
    padding: 20px;
    border: 1px solid #96e949;
    border-radius: 8px;


}