

.student-list {
    
    background-color: #74e4de;
    padding: 20px;
    border: 1px solid #c53434;
    border-radius: 8px;

}

.country-list {
background-color: #4932cc;
    padding: 20px;
    border: 1px solid #c53434;
    border-radius: 8px;


}